.contrib-search-box {
    height: 200px;
    width: 100%;
    background-color: steelblue;
    vertical-align: middle;
}

.contrib-search {
    height: 200px;
}

.search-box-header {
    color: white;
}