.contrib-search-box {
    height: 200px;
    width: 100%;
    background-color: steelblue;
    vertical-align: middle;
}

.contrib-search {
    height: 200px;
}

.search-box-header {
    color: white;
}

.button-container {
    text-align: center;
}

.button-container {
    vertical-align: top;
}
.button-container button {
    display: inline-block;
    width: 25%;
    margin: 10px 7px;
}