.user-form-group {
    width: 80%;
    margin-top: 95px;
}

.signup-btn {
    margin-top: 5px;
    width: 100px;
}

.login-btn {
    margin-top: 5px;
    width: 100px;
}

.alert-message {
    margin-top: 15px;
}